:root {
    --primary-font-family: 'Roboto', sans-serif;
    --secondary-font-family: 'Raleway', sans-serif;
    --primary-text-color-theme-light: #212121;
    --secondary-text-color-theme-light: #757575;
    --accent-color: #2196F3;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.body {
    font-family: var(--primary-font-family);
}

/* =============== COMPONENTS =============== */
.modal-btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #ffffff;
    text-transform: none;
    background-color: var(--accent-color);
    cursor: pointer;

}

.title {
    font-family: var(--primary-font-family);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

/* =============== /COMPONENTS =============== */

/* =============== HEADER =============== */
.logo-one {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.logo-on-light-two {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000;
}

.menu-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color-theme-light);
}

.menu-link:hover,
.menu-link:focus {
    color: var(--accent-color);
}


/* =============== /HEADER =============== */

/* =============== HERO =============== */
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #fff;
}

/* =============== /HERO =============== */

/* =============== ABOUT =============== */
.about-strenghts-name {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color-theme-light);
}

.strength-desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color-theme-light);
}

/* =============== /ABOUT =============== */

/* =============== WHAT WE DO =============== */

/* =============== /WHAT WE DO =============== */

/* =============== OUR TEAM =============== */
.team-member-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--primary-text-color-theme-dark);
}

.team-member-occupation {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color-theme-light);
}

/* =============== /OUR TEAM =============== */

/* =============== PORTFOLIO NAVIGATION =============== */
.filter-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: var(--primary-text-color-theme-light)
}

.filter-link:hover,
.filter-link:focus {
    color: #fff;
    background-color: var(--accent-color);
}
/* =============== /PORTFOLIO NAVIGATION =============== */

/* =============== PROJECTS =============== */
.project-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color-theme-light);
}

.project-type {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color-theme-light)
}
/* =============== /PROJECTS =============== */

/* =============== FOOTER =============== */
.logo-on-dark-two {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #fff;

}

.address-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFF;
}

.footer-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

/* =============== /FOOTER =============== */